<html>
  <style type="text/css">
    .bold {
      font-weight: bold;
    }
    .italic {
      font-weight: italic;
    }
  </style>
  <body>
    <h3>Happy Crimbus!</h3>
    <div>
      <p>You signed up for Secret Santa {{year}}, hosted by Aaron, Dorothy, and Jackie!  Your secret santa is...</p>
      <p class="bold">{{name}}</p>
      <p>They answered the following questions to help you find the perfect gift!</p>
      {% for k,v in survey.iteritems() %}
        <span class="bold">{{ k }}</span><br>
        <span class="italic">{{ v }}</span><br>
      {% endfor %}
      <p>
        Happy gifting! Remember to keep your gift under $20.
        See you at 64 Prospect St on Saturday Dec. 16th at 8pm!
      </p>
  </div>
  </body>
</html>