<html>
  <body style="font-family:'Comic Sans MS',Arial,sans-serif">
    <div style="background-image:url('https://nebula.wsimg.com/obj/MjZGQUE2MEIzRUU5Nzk1MkM1RDA6OWFmMjBlZjQ2N2U0ZTVkYWRjMGY1ZjY4Nzk4NGQ2OGI6Ojo6OjA=');text-align:center">
      <div style="display:inline-block;text-align:center;background-color:rgba(255,255,255,0.9);max-width:500px">
        <img src="http://moziru.com/images/lamps-clipart-animated-gif-3.gif" alt="light" style="width:100%" />
        <h3>Happy Crimbus!</h3>
        <p>Welcome to TOASTY &amp; TIPSY {{year}}! We are overjoyed that you will be joining us for merriment and friendship as we embark on the journey of the long cold time.</p>

        <p>The chrimbus angel will now open his hole to reveal your secret santa inside. Your secret santa is:</p>

        <div style="background-image:url('https://thumbs.gfycat.com/DampBlondDinosaur-max-1mb.gif');display:inline-block;width:70%;height:100px">
          <div style="font-weight:bold;font-size:24px;padding-top:35px">{{name}}</div>
        </div>
        
        <p>They answered the following questions to help you find the perfect gift!</p>
        {% for k,v in survey.iteritems() %}
          <p>
            <span style="font-weight:bold">{{ k }}</span><br>
            <span style="font-style:italic">{{ v }}</span><br>  
          </p>
        {% endfor %}
        <hr>
        <p>
          Happy gifting! Remember to keep your gift under $20.
          See you at 64 Prospect St on Saturday Dec. 16th at 7pm!
        </p>
        <p>
          Love,<br>
          The Crimbus Bot (aka zurn &amp; dort &amp; krakus)
        </p>
        <img src="http://moziru.com/images/lamps-clipart-animated-gif-3.gif" alt="light" style="width:100%" />
      </div>
    </div>
  </body>
</html>